@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Regular.woff2') format('woff2'),
		url('../fonts/Raleway-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Bold.woff2') format('woff2'),
		url('../fonts/Raleway-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Frank Ruhl Libre';
	src: url('../fonts/FrankRuhlLibre-Regular.woff2') format('woff2'),
		url('../fonts/FrankRuhlLibre-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Noto Serif';
	src: url('../fonts/NotoSerif.woff2') format('woff2'),
		url('../fonts/NotoSerif.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}


