h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4 , .h5 , .h6{
	color: $white;
	font-family: $font-secondary;
	margin: 0;
	text-transform: capitalize;
}

h1, .h1 {
	font-size: 64px;
	line-height: 72px;
	@include for-small-screen {
		font-size: 50px;
		line-height: 45px;
	}
}


h2, .h2 {
	font-size: 48px;
	line-height: 64px;
}


h3, .h3 {
	font-size: 32px;
	line-height: 44px;
}

h6, .h6 {
	color: $orher;
	font-size: 14px;
	font-weight: bold;
	line-height: 24px;
}