.collections {
	padding: 70px 0;

	@include for-extra-large-screen {
		padding: 70px 20px;
	}
	
	h2 {
		color: $dark;
		margin-bottom: 30px;
	}

	&-boxes {
		align-items: stretch;
		flex-wrap: wrap;
		justify-content: space-between;
		
	}

	&-box {
		background-color: $dark;
		margin: 0 30px 80px 0;
		padding: 50px 50px 0 50px;
		width: 30%;
		&:nth-child(3),
		&:last-child {
			margin-right: 0;
		}

		h3 {
			color: $orher;
			margin-bottom: 20px;
		}

		p {
			margin-bottom: 20px;
		}

		img {
			transform: translateY(50px);
		}

		@include for-medium-large-screen {
			&:last-child {
				margin-right: 30px;
			}
		}

		@include  for-medium-large-screen {
			width: 44%;
		}

		@include for-medium-screen  {
			margin: 0 10px 80px 0;
		}

		@include for-medium-screen {
			width: 100%;
			margin-right: 0;
		}

		@include hover {
			background-color: $orher;
			transition: all .4s ease-in;

			h3 {
				color: $dark;
			}

			.read-more-link {
				color: $dark;
			}

			span {
				color: $dark !important;
			}

			.arrow {
				border: 1px solid $dark;
			}

			.arrow .head,
			.arrow .head:after {
				border: 1.5px solid $dark;
			}
			
			.arrow .head:after {
				border-color: $dark;
			}


		}

		img {
			width: 100%;
			height: 190px;
		}


	}

	&-link {
		color: $orher;
		display: inline-block;
		text-transform: uppercase;
		@include hover {
			text-decoration: none;
		}
	}

	&-reverse {
		justify-content: space-between;
		margin: 0;
		position: absolute;
		top: 35px;
		right: 20px;
		transform: rotate(270deg);
		transform-origin: right;

		span {
			color: rgba($orher, .5);
			display: inline-block;
			&:not(:last-child) {
				margin-right: 10px;
			}
		}
	}

	&-top {
		padding: 118px 0 0;

		@include for-extra-large-screen {
			padding: 118px 50px 0 50px;
		}
		@include for-medium-screen {
			padding: 118px 25px 0 25px;
		}

		.collections-box {
			padding: 150px 50px 40px 50px;
		}

		.collections-reverse {
			transform: rotate(0deg);
			top: 150px;
			right: 50px;
			left: 50px;

			@include for-large-screen {
				display: none;
			}
		}

		.collections-img-top {
			transform: translateY(-200px);
		}

		.link-primary {
			bottom: 20px;
			display: flex;
			position: absolute;
			justify-content: flex-start;
			width: 50%;
		}

		h3 {
			top: 180px;
			margin-bottom: 0;
			position: absolute;
		}
	}

	//btn arrow
	a{
		cursor: pointer;
		display: flex;
		justify-content: flex-start;
		transition: all 0.3s ease;
		@include hover {
			color: $dark;
		}
	}
	
	a .arrow {
		width: 10%;
		transition: all 0.3s ease;
	}
	
	a:hover .arrow {
		width: 20%;
	}
	
	.arrow{
		margin-right: 2em;
		border: 1px solid $orher;
		position: relative;
		background: $orher;
	}
	
	.arrow .head,
	.arrow .head:after {
		border: 1.5px solid $orher;
		border-radius: 2px;
		width: 8px;
		position: absolute;
		right: -5px;
		top: 2px;
		transform: rotate(-45deg);
	}
	
	.arrow .head:after {
		content: "";
		border-color: $orher;
		right: -5px;
		top: -5px;
		transform: rotate(90deg);
	}

	&-img {
		background-position: 100% center;
		height: 190px;
		transform: translateY(50px);
		width: 100%;
		&:hover {
			background-position: 50% center;
			transition: all .2s ease-in;
		}
	}
}





