
.nav-link {
	@include hover {
		.tooltip-item {
			visibility: visible;
		}
	}
}

.tooltip-item {
	background-color: $orher;
	padding: 5px;
	position: absolute;
	top: 45px;
	left: 0;
	width: 100%;
	visibility: hidden;
}


