input,
textarea {
	background: $white;
	border: none;
	border-radius: 0;
	box-shadow: none;
	color: $black;
	height: 25px;
	padding: 0 10px;
	outline: none;
	resize: none;
	height: 36px;
	&::placeholder {
		color: $dark;
	}
}
